<h2>Add a new post</h2>

<form action="/users/<%=current_user.id%>/posts" method="post" data-remote="true">
    <input type="hidden" name="post[author_id]" value="<%=current_user.id%>" />
  <div>
    <label >Title:</label>
    <input type="text" id="tilte" name="post[Text]">
  </div>
  <div>
    <label >Text:</label>
    <textarea name="post[Title]"></textarea>
  </div>
  <input type="submit" value="Submit">
</form>